<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>CptWesley's Minimap</title>
</head>

<body>
  <div id="app">
    <div
      style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; background: #333333; font: 32px Lato, sans-serif; color: #666666; user-select: none;">
      <span>CptWesley's Minimap</span>
    </div>
  </div>
  <script>
    const NWMM_APP_WINDOW = 'desktop';
    const NWMM_APP_NAME = `<%= appName %>`;
    const NWMM_APP_VERSION = `<%= appVersion %>`;
    const NWMM_APP_BUILD_DATE = `<%= appDate %>`;
    const NWMM_APP_BUILD_PRODUCTION = `<%= prod %>` === true.toString();
  </script>
</body>

</html>