@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");

h1,
h2 {
  margin: 0;
  cursor: default;
}

button {
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}
