.notification {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: transparent;
  color: #131313;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100vh;
}

main {
  position: relative;
  height: 100vh;
  background-color: #272727;
  border-radius: 4px;
}

button {
  background: #525252;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  padding: 6px 8px;
  margin: 20px 40px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

h1 {
  margin: 20px 40px;
  font-size: 25px;
  line-height: 29px;
}

p {
  margin: 20px 40px;
  font-size: 15px;
  line-height: 140.62%;
}

/* --- */
#countdown {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  height: 18px;
  width: 18px;
  text-align: center;
  cursor: pointer;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 60px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke: white;
  fill: none;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 60px;
  }
}